# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*/.vs
Libs
icp-variants/Build
icp-variants/build
icp-variants/CMakeSettings.json
.vs

# VSCode
.DS_Store
.vscode/

Data/apartment
Data/apartment_global.txt
